@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/////////////////////////////////////////////////

body{
  // @apply h-14 bg-gradient-to-r from-cyan-900 to-blue-500;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Viga', sans-serif;
}

.viga{
  font-family: 'Viga', sans-serif;
}

.glass{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4); 
  // border-radius: 5px;
  background-color: rgba(255, 255, 255, .45);    
  backdrop-filter: blur(5px);
}


// LIGHT THEME
.body--light {
  color: #9A1032!important;

  // & .q-item.q-router-link--active {
  //   background-color: #9A1032;
  // }
}

// DARK THEME
body.body--dark{
  background-color: #282a36;
  color: orange!important;

  // & .q-item.q-router-link--active {
  //   background-color: #9A1032;
  // }
}

