@tailwind base;
@tailwind components;
@tailwind utilities;
/////////////////////////////////////////////////

.body--light {
  color: pink!important;
}

.body--dark {
  color: orange!important;
}


// style.scss
[data-theme="dark"] {
  --bg-color1: #121416;
  --font-color: #f4f4f4;
}
[data-theme="light"] {
  --bg-color1: #f4f4f4;
  --font-color: #121416;
}

body {
  background-color: var(--bg-color1);
  color: var(--font-color);
}